*{
    box-sizing: border-box;
}

.wholePageSize {
    height: 100vh;
}

.naviBar {
    display: flex;
    justify-content: center;   
    height: 54px;
    border-bottom: 0.5px solid #c4c4c4;
}

#staLogo {
    width: 103px;
    height: 29px;
}

.emo>img {
    width: 22px;
    height: 22px;
}

.navInsideSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 975px;
    height: 54px;
    padding: 0px 20px;
}

.instaLogo {
    width: 360px;
}

.searchBar>input {
    display: flex;
    display: inline;
    justify-content: center;
    width: 215px;
    height: 28px;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
}

.emo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 360px;
    height: 22px;
}

.emo>img {
    margin: 0px 10px;
}

#human {
    border: 0.3px solid #8e8e8e;
    border-radius: 50%;
}

.mainFeedSection {
    background: #fafafa;
}

.feedWholePage {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 935px;
    margin: auto;
    padding: 30px 0px 0px;
}

.feedArticle,.showStory,.recommandedFriend {
    border: 0.5px solid #c4c4c4;
    border-radius: 0.25%;
}

.feedArticle {
    width: 616px;
    height: 100%;
    background: #ffffff;
    /* margin: 0px -1px 60px; */
    margin-right: auto;
    
}

.profileIcon>img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: powderblue;
}

.feedHeader>img {
    width: 20px;
    height: 20px;
}
.feedHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 614px;
    height: 60px;
    padding: 16px;
}    
.userIdOnFeed {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 34px;
}

#headerIdBold {
    font-size: 14px;
    font-weight: bold;
    color: #262626;
}

#headerStatus {
    font-size: 12px;
    color: #262626;
}

.photoPage {
    width: 614px;
}

#singPhoto {
    width: 100%;
}

.commentSection {
    width: 614px;
}

.emoAboveComment {
    width: 614px;
    height: 40px;
    margin: 4px 0px 0px;
    padding: 0px 16px;
}

.emoAboveComment>img {
    width: 24px;
    height: 24px;
}

#bookMark {
    float: right;
}

.divForLike {
    width: 582px;
    height: 18px;
    padding: 0px 16px;
    margin-bottom: 8px;
}

.iLikeinKo {
    font-size: 14px;
    font-weight: bold;
    color: #262626;
}

.actualComments {
    width: 614px;
    padding: 0px 16px;
    font-size: 13px;
    color: #262626;
}

.theCommentAssignment {
    display: flex;
    align-items: flex-end;
}

.toWrapComment {
    display: flex;
    align-items: center;
    width: 614px;
    height: 56px;
    margin: 4px 0px 0px;
    padding: 0px 16px;
    border-top: 0.5px dotted #c4c4c4;
}

#commentJs {
    display: flex;
    align-items: center;
    border: 0;    
    width: 554px;
    height: 18px;
    resize: none;
}

#helloId, #morningId, #showIDBold {
    font-weight: bold;
}

#buttonCall {
    width: 29px;
    padding: 0px 0px;
    margin: 0px 0px;
    font: 400 14px Arial;
    font-weight: bold;
    color: #0095f6;
    background: 0 0;
    border: 0;
}

.stickyStory {
    display: flex;
    flex-direction: column;
    float: right;
    width: 293px;
    height: 969px;
    margin: 0px 0px 30px;
}

.showID {
    display: flex;
    flex-direction: row;
    width: 293px;
}

.showID>img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0px 14px 15px 10px;
}

.showActualID {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 5px auto 17px 0px;
}

#showIDBold {
    font-size: 14px;
}

#showName {
    font-size: 12px;
    color: #8e8e8e;
}

.showStory {
    width: 293px;
    height: 223px;
    margin: 4px 0px 0px;
}

.storyTitle, .friendTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 19px;
    margin: 12px 0px 12px;
    padding: 4px 16px;
}

.wordStory, .friendForYou {
    width: auto;
    height: 18px;
    margin: -3px 0px -4px;
    color: #8e8e8e;
    font-size: 14px;
    font-weight: bold;
}

.seeAll, .seeAll2 {
    float: right;
    width: auto;
    height: 14px;
    margin: -2px 0px -3px;
    color: #262626;
    font-size: 12px;
    font-weight: bold;
}

.forOverFlow {
    overflow: scroll;
    height: 178px;
}

.forOverFlow2 {
    overflow: auto;
    height: 160px;
} 

.storyFriendId {
    display: flex;
    flex-direction: row;
    width: 275px;
    height: 44px;
    margin: 5px 0px;
    justify-content: flex-end;
}

.storyFriendId>img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 0px 10px;
}

.storyFriendIdWords {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 206px;
}

#friendId {
    font-size: 13px;
    font-weight: bold;
}

#timeLeft {
    font-size: 10px;
    color: #8e8e8e;
}

.recommandedFriend {
    width: 293px;
    margin: 32px 0px;
}